<!doctype html>
<html>
   <head>
        <title>About</title>   
        <link rel="stylesheet" href="css/site.css" type="text/css" />
        <link rel="stylesheet" herf="https://cdn.rawgit.com/WEB222-Samples/Utilities/master/bootstrap-md-grid/bootstrap-md-grid.css" type="text/css" />
		<link href="https://fonts.googleapis.com/css?family=Barrio" rel="stylesheet">
  </head> 
<body>
	<header>
        <div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>myApp</h1>
				</div>
			</div>
		</div>
      </header>
     <nav>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul>
						<li> <a href="/"> Home </a> </li>
						<li> <a href="/about"> About </a> </li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
   <div class="container">
	   <div class="row">
				<section class="main col-md-12">
					<article>
					<h2>Zheshuang Zhang - the developer</h2>
					<h3> About </h3>
					<p>I am a Seneca CPA student.</p>
					<p>I am taking the WEB 322 class by Wedsday and Friday.</p>
					</article>
				</section>
		</div>
	</div>
   <footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>@2017 - Zheshuang Zhang</h2>
			</div>
		</div>
	</div>
   </footer>
</body>
</html>